
body {
  
}

.marquee-style {
  font-size: 20em;
}
.header {
  font-size: 20em;
}
.wrapper-main {
  display: flex;
}
.progress-bar {
  width: 20em;
  margin-left: -20em;
  margin-top: 15em;
}

/* prgoress bar sgtyle */


.progress-bar .wrapper {
  border: 1px solid black !important;
  height: 30px;
}

.progress-bar  .container {
  background-color: white;
  height: 30px;
}

.progress-bar .barCompleted {
  background-color: black;
  width: 60%;
  height: 30px;
}

.progress-bar .label {
  font-size: 20px;
  color: white;
  height: 30px;
}